BackendDjango/backend/api/dumpData/allGameDetails.pkl filter=lfs diff=lfs merge=lfs -text
SteamData/allGameDetails/allGameDetails.pkl filter=lfs diff=lfs merge=lfs -text
SteamData/allGameDetails/allGameDetails4.pkl filter=lfs diff=lfs merge=lfs -text
